@media only screen and (max-width: 987px) {
    
    .cta-box-2{
        display: none;
    }
    .cta-box{
        display: flex;
        text-align: center;
        justify-content: center;
        width: 60%;
        height: 30vh;
    }
    .cta-box-1{
        margin: auto;
        margin: auto
    }
      .cta-box-1 h4{
    font-size: 18px;
  }
   .cta-box-1 h6{
    font-size: 10px;
  }
     .cta-box-1 a{
    font-size: 8px;
  }
  .navbar-brand img{
    width: 34px !important;
  }
  .navbar{
    padding: 7px !important;
  }
  .navbar-toggler{
    border: none;
  }
  .nav-item a{
    font-size: 10px;
  }
  .collapse a{
    font-size: 10px;
  }

  .footer-content{
    flex-wrap: wrap;
  }
 
}
@media only screen and (max-width: 641px){
    .addres-content{
        flex-direction: column;
    }
    .addres-1{
    width: 100%;
  }
  .addres-2{
    width: 100%;
  }
  .footer-1{
    width: 100%;
  }
   .footer-about{
    width: 100%;
  }
}